In [1]:
import pandas as pd

In [2]:
df_01_06_2020 = pd.read_pickle("..\data\\01-06.2020.pkl")
df_01_06_2020.head()

,cdPn,cgPn,hrId,name,type,ierId,level,point,state,action,...,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39
0,NaN,NaN,янв21_СлучНабор_070,Случайный набор номера,Случайный набор номера,NaN,Обычный,NaN,Карточка закрыта,NaN,...,0.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,янв14_Молчание_488,Вызов с молчанием,Вызов с молчанием,NaN,Обычный,"[{""lat"": 48.7458, ""lon"": 44.816}]",Карточка закрыта,NaN,...,0.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,янв15_Молчание_418,Вызов с молчанием,Вызов с молчанием,NaN,Обычный,"[{""lat"": 48.4808, ""lon"": 45.046}]",Карточка закрыта,NaN,...,0.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,янв16_Молчание_138,Вызов с молчанием,Вызов с молчанием,NaN,Обычный,"[{""lat"": 48.7757, ""lon"": 44.8021}]",Карточка закрыта,NaN,...,0.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,янв17_Молчание_145,Вызов с молчанием,Вызов с молчанием,NaN,Обычный,"[{""lat"": 48.513, ""lon"": 44.5205}]",Карточка закрыта,NaN,...,0.0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_01_06_2021 = pd.read_pickle("..\data\\01-06.2021.pkl")
# df_01_06_2021.columns = df_01_06_2021.iloc[0]
# df_01_06_2021.drop(index=df_01_06_2021.index[0], axis=0, inplace=True)
df_01_06_2021.head()

,cdPn,hrId,name,type,ierId,level,point,state,action,cardId,...,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,NaN,NaN,NaN
1,100090,янв04_Справка_294,Получение справок,Получение справок,07284594-f4e4-4d18-abd7-aca6013a2cb0,Обычный,"[{""lat"": 48.7445, ""lon"": 44.5188}]",Карточка закрыта,NaN,acaa9603-48c4-40f0-8705-aca6013aac67,...,NaN,0,200,NaN,NaN,Костюхова Евгения Васильевна,Operator90,NaN,NaN,NaN
2,NaN,янв03_Справка_011,Получение справок,Получение справок,NaN,Обычный,"[{""lat"": 48.789, ""lon"": 44.7763}]",Карточка закрыта,NaN,8556cb55-a7b0-450b-addf-aca5002a1619,...,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100029,янв03_НепрПоним_011,Неправильное понимание экстренной ситуации,Неправильное понимание экстренной ситуации,e29f659b-3c2d-4aef-97d5-aca50028214d,Обычный,"[{""lat"": 48.7758, ""lon"": 44.7994}]",Карточка закрыта,NaN,d3c7d78f-adb1-4ce3-b3e7-aca5002862ed,...,NaN,0,200,NaN,NaN,Яковлева Надежда Васильевна,Operator29,NaN,NaN,NaN
4,100037,янв07_ПсихНеуравн_033,Психически неуравновешенные люди,Психически неуравновешенные люди,e2de6b00-4913-46bf-ae8d-aca9003ed22a,Обычный,"[{""lat"": 50.0712, ""lon"": 45.3843}]",Карточка закрыта,NaN,2aaa9a25-5cc6-481b-9c8d-aca9003eecc5,...,NaN,0,200,NaN,NaN,Алейникова Валерия Сергеевна,Operator37,NaN,NaN,NaN
5,NaN,фев15_не_задано_013,не задано,не задано,NaN,Обычный,NaN,Карточка закрыта,NaN,15b35090-6581-4e35-8959-acd0009bb9db,...,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_01_09_2019 = pd.read_pickle("..\data\\01-09.2019.pkl")
df_01_09_2019.head()

,cdPn,cgPn,hrId,name,type,ierId,level,point,state,action,...,streetFiasId,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,Unnamed: 36,Unnamed: 37
0,,,EHM1_июл22_СлучНабор_701,Случайный набор номера,Случайный набор номера,,Обычный,"[{""lat"": 48.707103, ""lon"": 44.516939}]",Карточка закрыта,,...,,,0,200,,,,,NaN,NaN
1,,,EHM1_июл22_ПрерывСвяз_466,Прерывание вызова звонящим сразу после подключ...,Прерывание вызова звонящим сразу после подключ...,,Обычный,"[{""lat"": 48.7747, ""lon"": 44.5791}]",Карточка закрыта,,...,,,0,200,,,,,NaN,NaN
2,,,EHM1_июл23_Молчание_215,Вызов с молчанием,Вызов с молчанием,,Обычный,"[{""lat"": 50.4091, ""lon"": 41.7607}]",Карточка закрыта,,...,,,0,200,,,,,NaN,NaN
3,,,EHM1_июл23_ПрерывСвяз_030,Прерывание вызова звонящим сразу после подключ...,Прерывание вызова звонящим сразу после подключ...,,Обычный,"[{""lat"": 48.7526, ""lon"": 44.8027}]",Карточка закрыта,,...,,,0,200,,,,,NaN,NaN
4,,,EHM1_июл23_Молчание_339,Вызов с молчанием,Вызов с молчанием,,Обычный,"[{""lat"": 48.6755, ""lon"": 44.4471}]",Карточка закрыта,,...,,,0,200,,,,,NaN,NaN

In [18]:
df_07_12_2020 = pd.read_pickle("..\data\\07-12.2020.pkl")
df_07_12_2020.head()

,Код телефона,Unnamed: 1,Название,Unnamed: 3,Unnamed: 4,Уровень,Unnamed: 6,Статус,Unnamed: 8,Unnamed: 9,...,Id улицы,Unnamed: 28,Количество пострадавших,Unnamed: 30,Время действия,Unnamed: 32,Номер оператора,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,cdPn,hrId,name,type,ierId,level,point,state,action,cardId,...,streetFiasId,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorStr,NaN,NaN,NaN
1,NaN,июл06_Молчание_057,Вызов с молчанием,Вызов с молчанием,NaN,Обычный,"[{""lat"": 48.6501, ""lon"": 43.6068}]",Карточка закрыта,NaN,e1f4734b-55f3-4117-81ca-abf0004994c7,...,NaN,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,авг26_Справка_203,Получение справок,Получение справок,NaN,Обычный,"[{""lat"": 50.1062, ""lon"": 45.4101}]",Карточка закрыта,NaN,a632d575-6bde-4b5e-9d27-ac230172ba02,...,NaN,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,июл16_СлучНабор_023,Случайный набор номера,Случайный набор номера,NaN,Обычный,"[{""lat"": 48.7777, ""lon"": 44.3837}]",Карточка закрыта,NaN,5a509f59-6492-4c17-8939-abfa00490150,...,NaN,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,июл06_Правонар_043,Правонарушение,Правонарушение,NaN,Обычный,"[{""lat"": 48.7938, ""lon"": 44.7527}]",Карточка закрыта,NaN,09fab2c4-7b11-481b-8e86-abf000498e39,...,NaN,NaN,0,200,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_07_12_2021 = pd.read_pickle("..\data\\07-12.2021.pkl")
df_07_12_2021.head()

,Код телефона,Unnamed: 1,Название,Unnamed: 3,Unnamed: 4,Уровень,Unnamed: 6,Статус,Unnamed: 8,Unnamed: 9,...,Код района,Id улицы,Unnamed: 28,Количество пострадавших,Unnamed: 30,Время действия,Unnamed: 32,Номер оператора,Unnamed: 34,Unnamed: 35
0,cdPn,hrId,name,type,ierId,level,point,state,action,cardId,...,districtCode,streetFiasId,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorStr,NaN,NaN
1,100065,авг11_СлучНабор_213,Случайный набор номера,Случайный набор номера,d0cacbea-1791-4d46-9b4f-ad81009eb164,Обычный,"[{""lat"": 48.8031, ""lon"": 44.7532}]",Карточка закрыта,NaN,0c9bcba0-de53-4942-83f2-ad81009ee057,...,NaN,NaN,NaN,0,200,NaN,NaN,Operator65,NaN,NaN
2,100044,авг15_СлучНабор_122,Случайный набор номера,Случайный набор номера,c3b8c2c3-6419-4b88-bfbb-ad85009a733f,Обычный,"[{""lat"": 48.7414, ""lon"": 44.5453}]",Карточка закрыта,NaN,963f0751-961a-4761-b205-ad85009a7f89,...,NaN,NaN,NaN,0,200,NaN,NaN,Operator44,NaN,NaN
3,100105,авг09_Молчание_150,Вызов с молчанием,Вызов с молчанием,f3be67f9-83e9-4888-910a-ad7f009ae335,Обычный,"[{""lat"": 48.8061, ""lon"": 44.7559}]",Карточка закрыта,NaN,d404c079-19a0-4a9c-8ca2-ad7f009af53e,...,NaN,NaN,NaN,0,200,NaN,NaN,Operator105,NaN,NaN
4,100071,авг09_СлучНабор_144,Случайный набор номера,Случайный набор номера,9aea7223-f50b-4deb-a3ee-ad7f009b7079,Обычный,"[{""lat"": 50.1369, ""lon"": 45.2067}]",Карточка закрыта,NaN,eec7d091-7b78-42c8-a732-ad7f009ba1f7,...,NaN,NaN,NaN,0,200,NaN,NaN,Operator71,NaN,NaN

In [7]:
df_10_12_2019 = pd.read_pickle("..\data\\10-12.2019.pkl")
df_10_12_2019.head()

,cdPn,cgPn,hrId,name,type,ierId,level,point,state,action,...,districtCode,streetFiasId,clarification,injuredNumber,responseStatus,actionTimeIsoStr,assignTimeIsoStr,acceptOperatorFio,acceptOperatorStr,Unnamed: 36
0,,,EHM1_окт25_Справка_046,Получение справок,Получение справок,,Обычный,"[{""lat"": 50.3481, ""lon"": 44.1335}]",Карточка закрыта,,...,,,,0,200.0,,,,,NaN
1,,,EHM1_окт25_ЛожнАвтом_112,Автоматические ложные вызовы,Автоматические ложные вызовы,,Обычный,"[{""lat"": 48.8056, ""lon"": 44.7453}]",Карточка закрыта,,...,,,,0,200.0,,,,,NaN
2,,,EHM1_окт25_Молчание_326,Вызов с молчанием,Вызов с молчанием,,Обычный,"[{""lat"": 48.8056, ""lon"": 44.7453}]",Карточка закрыта,,...,,,,0,200.0,,,,,NaN
3,,,EHM1_окт25_Молчание_325,Вызов с молчанием,Вызов с молчанием,,Обычный,"[{""lat"": 48.7566, ""lon"": 44.4581}]",Карточка закрыта,,...,,,,0,200.0,,,,,NaN
4,,,EHM1_окт25_СлучНабор_238,Случайный набор номера,Случайный набор номера,,Обычный,"[{""lat"": 48.7593, ""lon"": 44.5513}]",Карточка закрыта,,...,,,,0,200.0,,,,,NaN